.input{
    border: 1px solid #04081f;
    border-radius: 15px;
    margin-top: 10px;
}

.button{
    border-radius: 15px;
    width: 100%; height: 55px; 
    color: #fff;
    background-color: #04081f; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.save{
    font-weight: bold; 
    background-color: #2dd36f36;
    color: #1cdd69; 
    border-radius: 13px; 
    padding: 3px 10px;
}

.cancel{
    font-weight: bold; 
    background-color: rgba(255, 0, 0, 0.295);
    color: red; 
    border-radius: 13px; 
    padding: 3px 10px;
}