<ion-content [scrollEvents]="true" #main>
  <ion-item-divider>
    <ion-icon *ngIf="!isPerInfoEdit" slot="start" size="small" color="ourtheme" (click)="enableEdit('pers_info')"
      name="create-outline"></ion-icon>
    <ion-label *ngIf="isPerInfoEdit" class="save" slot="start" (click)="save('pers_info')">Save
    </ion-label>
    <ion-label *ngIf="isPerInfoEdit" class="cancel" slot="start" (click)="cancel('pers_info')">Cancel
    </ion-label>
    <ion-label slot="end" color="sec" class="ion-margin">
      Personal details
    </ion-label>
  </ion-item-divider>
  <form [formGroup]="accountForm">
    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">First Name</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" [disabled]="!isPerInfoEdit" (ionInput)="fnameEnable()"
        formControlName="firstname" required enterkeyhint="next"></ion-input>

    </ion-item>

    <div *ngIf="fenabled">

      <mat-error *ngIf="firstname.hasError('required') ">
        <small style="color: red; margin-left: 5px;">First name is <strong><span
              style="letter-spacing: .5px;">required</span></strong></small>
      </mat-error>

      <mat-error *ngIf="firstname.hasError('pattern')">
        <small style="color: red; margin-left: 5px;" errors>First name must not have a special charector or a
          number</small>
      </mat-error>

      <mat-error *ngIf="firstname.hasError('minlength')">
        <small style="color: red; margin-left: 5px;" errors>First name must have atleast 3 letters</small>
      </mat-error>
    </div>


    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Last Name</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" [disabled]="!isPerInfoEdit" (ionInput)="lnameEnable()"
        formControlName="lastname" enterkeyhint="next"></ion-input>
    </ion-item>

    <div *ngIf="lenabled">

      <mat-error *ngIf="lastname.hasError('required') ">
        <small style="color: red; margin-left: 5px;">Last name is <strong><span
              style="letter-spacing: .5px;">required</span></strong></small>
      </mat-error>

      <mat-error *ngIf="lastname.hasError('pattern')">
        <small style="color: red; margin-left: 5px;" errors>Last name must not have a special charector or a
          number</small>
      </mat-error>

      <mat-error *ngIf="lastname.hasError('minlength')">
        <small style="color: red; margin-left: 5px;" errors>Last name must have atleast 3 letters</small>
      </mat-error>
    </div>

    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Phone</ion-label>
      <ion-input [disabled]="!isPerInfoEdit" style="font-weight: bold; font-size: 91%;" (ionInput)="lnameEnable()"
        formControlName="phone" enterkeyhint="next"></ion-input>
    </ion-item>
    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Email</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" disabled (ionInput)="lnameEnable()" formControlName="email"
        enterkeyhint="next"></ion-input>
    </ion-item>

  </form>
  <ion-item-divider>
    <ion-label slot="end" color="sec" class="ion-margin">
      Ambulance information
    </ion-label>
  </ion-item-divider>
  <div style="margin-top: 10px;">
    <ion-label class="ion-margin">Registration No <span
        style="background-color: #04081f28; color: #04081f; border-radius: 20px; padding: 3px 6px">{{acs.user.ambulance.regno}}</span>
    </ion-label>
  </div>

  <div style="margin-top: 5px;">
    <ion-label class="ion-margin">Status</ion-label> <br>
    <mat-button-toggle-group (change)="changeStatus($event)" style="margin-left: 15px;"
      [value]="acs.user.ambulance.status" aria-label="Favorite Color">
      <mat-button-toggle value="available">
        <spap style="background-color: rgba(0, 128, 0, 0.397); color: green; border-radius: 20px; padding: 3px 6px">
          Available</spap>
      </mat-button-toggle>
      <mat-button-toggle value="busy"><span
          style="background-color: rgba(255, 255, 0, 0.26); color: rgb(102, 102, 15); border-radius: 20px; padding: 3px 6px">Busy</span>
      </mat-button-toggle>
      <mat-button-toggle value="unavailable"><span
          style="background-color: rgba(255, 0, 0, 0.233); color: red; border-radius: 20px; padding: 3px 6px">Unavailable</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</ion-content>