<ion-content [scrollEvents]="true" #main>
  <ion-item-divider>
    <ion-icon *ngIf="!isPerInfoEdit" slot="start" size="small" color="ourtheme" (click)="enableEdit('pers_info')"
      name="create-outline"></ion-icon>
    <ion-label *ngIf="isPerInfoEdit" class="save" slot="start" (click)="save('pers_info')">Save
    </ion-label>
    <ion-label *ngIf="isPerInfoEdit" class="cancel" slot="start" (click)="cancel('pers_info')">Cancel
    </ion-label>
    <ion-label slot="end" color="sec" class="ion-margin">
      Personal details
    </ion-label>
  </ion-item-divider>
  <form [formGroup]="accountForm">
    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">First Name</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" [disabled]="!isPerInfoEdit" (ionInput)="fnameEnable()"
        formControlName="firstname" required enterkeyhint="next"></ion-input>

    </ion-item>

    <div *ngIf="fenabled">

      <mat-error *ngIf="firstname.hasError('required') ">
        <small style="color: red; margin-left: 5px;">First name is <strong><span
              style="letter-spacing: .5px;">required</span></strong></small>
      </mat-error>

      <mat-error *ngIf="firstname.hasError('pattern')">
        <small style="color: red; margin-left: 5px;" errors>First name must not have a special charector or a
          number</small>
      </mat-error>

      <mat-error *ngIf="firstname.hasError('minlength')">
        <small style="color: red; margin-left: 5px;" errors>First name must have atleast 3 letters</small>
      </mat-error>
    </div>


    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Last Name</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" [disabled]="!isPerInfoEdit" (ionInput)="lnameEnable()"
        formControlName="lastname" enterkeyhint="next"></ion-input>
    </ion-item>

    <div *ngIf="lenabled">

      <mat-error *ngIf="lastname.hasError('required') ">
        <small style="color: red; margin-left: 5px;">Last name is <strong><span
              style="letter-spacing: .5px;">required</span></strong></small>
      </mat-error>

      <mat-error *ngIf="lastname.hasError('pattern')">
        <small style="color: red; margin-left: 5px;" errors>Last name must not have a special charector or a
          number</small>
      </mat-error>

      <mat-error *ngIf="lastname.hasError('minlength')">
        <small style="color: red; margin-left: 5px;" errors>Last name must have atleast 3 letters</small>
      </mat-error>
    </div>

    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Phone</ion-label>
      <ion-input [disabled]="!isPerInfoEdit" style="font-weight: bold; font-size: 91%;" (ionInput)="lnameEnable()"
        formControlName="phone" enterkeyhint="next"></ion-input>
    </ion-item>
    <ion-item class="input ion-margin">
      <ion-label color="sec" position="stacked">Email</ion-label>
      <ion-input style="font-weight: bold; font-size: 91%;" disabled (ionInput)="lnameEnable()" formControlName="email"
        enterkeyhint="next"></ion-input>
    </ion-item>

  </form>
  <ion-item-divider>
    <ion-label slot="end" color="sec" class="ion-margin">
      Ambulance information
    </ion-label>
  </ion-item-divider>
  <ion-label class="ion-margin">Registration No 45454</ion-label>

  <ion-label>Status</ion-label>
  <mat-button-toggle-group name="favoriteColor" value="blue" aria-label="Favorite Color">
    <mat-button-toggle value="available">Available</mat-button-toggle>
    <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>
  </mat-button-toggle-group>
</ion-content>