<ion-content *ngIf="isLoading">
  <ion-card *ngFor="let request of requests" style="border-radius: 15px;">
    <ion-grid>
      <ion-row>
        <ion-col size="10" class="ion-margin-top-2">
          <div>
            <ion-label style="font-size: larger; font-weight: bold;" color="sec">
              {{request?.ambulance?.driver?.firstname}}
              {{request?.ambulance?.driver?.lastname}}</ion-label> <br>
          </div>
          <div>
            <ion-label style="font-size: medium; font-weight: normal; margin-bottom: 10px;">{{request?.createdAt |
              date: 'dd/MM/yyyy'}} {{request?.createdAt | date: "h'h'mm"}}
            </ion-label>
          </div>
          <div style="margin-top: 10px;">
            <ion-label *ngIf="request.status === 'pending'" style="padding: 3px 14px; 
              border-radius: 15px; 
              background-color: #aa9d703f; 
              color: #ffc409; 
              font-size: medium; 
              font-weight: 700;
              margin-right: 10px;">
              {{request.status}}
            </ion-label>
            <ion-label *ngIf="request.status === 'accepted'" style="padding: 3px 14px; 
              border-radius: 15px; 
              background-color: rgba(0, 128, 0, 0.24); 
              color: green; 
              font-size: medium; 
              font-weight: 700;
              margin-right: 10px;">
              {{request.status}}
            </ion-label>
            <ion-label *ngIf="request.status === 'declined'" style="padding: 3px 14px; 
              border-radius: 15px; 
              background-color: rgba(128, 15, 0, 0.24); 
              color: rgb(128, 4, 0); 
              font-size: medium; 
              font-weight: 700;
              margin-right: 10px;">
              {{request.status}}
            </ion-label>
            <ion-label *ngIf="request.status === 'onway'" style="padding: 3px 14px; 
              border-radius: 15px; 
              background-color: rgba(1, 53, 131, 0.171);
              color: rgb(1, 53, 131);; 
              font-size: medium; 
              font-weight: 700;
              margin-right: 10px;">
              {{request.status}}
            </ion-label>
            <ion-icon color="danger" size="medium" name="trash-bin-outline" (click)="cancel(request)"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="icons call" (click)="callDriver(request)">
            <ion-icon color="light" name="call-outline"></ion-icon>
          </div>
          <div class="icons track" (click)="track(request)">
            <ion-icon color="light" name="locate-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>