.icons{
    width: 35px; 
    height: 35px; 
  
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.call{
      background-color: #f57579dc;
}

.track{
    background-color: #04081fd8;
}