img{
  height: 160px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.contents{
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.welcome{
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
}

.outer{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f575798c;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  .inner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f5757a;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

